<p id="notice"><%= notice %></p>

<p>
  <strong>Tipdocide descripcion:</strong>
  <%= @identity_type.tipdocide_descripcion %>
</p>

<%= link_to 'Edit', edit_identity_type_path(@identity_type) %> |
<%= link_to 'Back', identity_types_path %>
