<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @identity_type.description %>
</p>

<%= link_to 'Edit', edit_identity_type_path(@identity_type) %> |
<%= link_to 'Back', identity_types_path %>
