<h1>Sucursal</h1>

<div class="col-lg-3">
          <div class="well sidebar-nav">
            <h3>Operaciones</h3>
            <ul class="nav nav-list">
              <li class="nav-header">...</li>
              <li><%= link_to "Atencion de Pedidos", "/path1"  %></li>
                  <li><%= link_to "Preparacion de Paltos", "/path2"  %></li>
              <li><%= link_to "Caja", "/path3"  %></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->