<p id="notice"><%= notice %></p>

<p>
  <strong>Tipdoc descripcion:</strong>
  <%= @document_type.tipdoc_descripcion %>
</p>

<%= link_to 'Edit', edit_document_type_path(@document_type) %> |
<%= link_to 'Back', document_types_path %>
