<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @identuty_type.description %>
</p>

<%= link_to 'Edit', edit_identuty_type_path(@identuty_type) %> |
<%= link_to 'Back', identuty_types_path %>
