<h1>Administracion</h1>

<div class="col-lg-3">
  <div class="well sidebar-nav">
    <h3>Operaciones</h3>
    <ul class="nav nav-list">
      <li class="nav-header">...</li>
      <li><%= link_to "Programacion Semanal", "/path1"  %></li>
          <li><%= link_to "Sucursales", "/path2"  %></li>
      <li><%= link_to "Platos", "/path3"  %></li>
    </ul>
  </div><!--/.well -->
</div><!--/span-->
